<!DOCTYPE html>
<html>
<head>
    <title>Signup Success</title>
</head>
<body>
    <h1>Signup Successful</h1>
    <p>Please check your email for a verification link to complete your registration.</p>
  
        <div style="color: green;"></div>

        <div style="color: red;"></div>

    <a href="/">Go to Login</a>
</body>
</html>
